body
{
background-image:url(backg.jpg)no-repeat 0 ;
  background-size: cover;
  background-attachment: fixed;
  

}

.content
{
background-color: white;
  width: 50%;
  padding: 40px;
  margin: 100px auto;

}

h2
{
background-color:red; 
}


